.alerta_activo {
  color: black;
  font-weight: bold;
  font-size: 35px;
  background-color: #82b74b;
}
.alerta_pendiente {
  color: black;
  font-weight: bold;
  font-size: 35px;
  background-color: #ffef96;
}
.alerta_inactivo {
  color: black;
  font-weight: bold;
  font-size: 35px;
  background-color: #c94c4c;
}
